<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<dom-module id="mi-login">
  <template>
    <style>
      :host {
        display: block;
        background-color: aqua;
      }
    </style>
    <fieldset>
        <form action="">
          <legend>Crear Cuenta</legend>
          <p>
            <label for="myinput"></label>
            <paper-input type="text" name="myinput" id="myinput" on-click="Hola!!" label="User" value="{{valorEscrito::input}}"
            placeholder="[[placeHolder]]" required=[[required]]></paper-input>
            <paper-input type="Password" name="myinput" id="myinput" label="Password" required=[[required]]></paper-input>

          </p>
          
          <button type="submit" on-click="Hola!!">Crear</button>
          <button type="submit">Cancelar</button>
        </form>
      </fieldset>
      <hr>
     
    
  </template>

  <script>
    /**
     * `mi-login`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiLogin extends Polymer.Element {
      static get is() { return 'mi-login'; }
      static get properties() {
        return {
          text: {
            type: String,
            
          },
          valorEscrito:{
            type: String,
            notify: true
          },
          placeHolder: {
            type: String,
            value: "User"
          },
          
          required: Boolean
        };
      }
      mjs() {
        on-click
      }
      
    }

    window.customElements.define(MiLogin.is, MiLogin);
  </script>
</dom-module>
